.darker {
    opacity : 0.7;
}

.btn-delete {
    background-color       : hsl(0, 37%, 56%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#eedcdc", endColorstr="#b86565");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#eedcdc), to(#b86565));
    background-image       : -moz-linear-gradient(top, #eedcdc, #b86565);
    background-image       : -ms-linear-gradient(top, #eedcdc, #b86565);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eedcdc), color-stop(100%, #b86565));
    background-image       : -webkit-linear-gradient(top, #eedcdc, #b86565);
    background-image       : -o-linear-gradient(top, #eedcdc, #b86565);
    background-image       : linear-gradient(#eedcdc, #b86565);
    border-color           : #b86565 #b86565 hsl(0, 37%, 47.5%);
    color                  : #333 !important;
    text-shadow            : 0 1px 1px rgba(255, 255, 255, 0.56);
    -webkit-font-smoothing : antialiased;
}

.btn-edit {
    background-color       : hsl(101, 37%, 56%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2eedc", endColorstr="#7fb865");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#e2eedc), to(#7fb865));
    background-image       : -moz-linear-gradient(top, #e2eedc, #7fb865);
    background-image       : -ms-linear-gradient(top, #e2eedc, #7fb865);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2eedc), color-stop(100%, #7fb865));
    background-image       : -webkit-linear-gradient(top, #e2eedc, #7fb865);
    background-image       : -o-linear-gradient(top, #e2eedc, #7fb865);
    background-image       : linear-gradient(#e2eedc, #7fb865);
    border-color           : #7fb865 #7fb865 hsl(101, 37%, 47.5%);
    color                  : #333 !important;
    text-shadow            : 0 1px 1px rgba(255, 255, 255, 0.56);
    -webkit-font-smoothing : antialiased;
}

.btn-show {
    background-color       : hsl(214, 37%, 56%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#dce4ee", endColorstr="#6589b8");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#dce4ee), to(#6589b8));
    background-image       : -moz-linear-gradient(top, #dce4ee, #6589b8);
    background-image       : -ms-linear-gradient(top, #dce4ee, #6589b8);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dce4ee), color-stop(100%, #6589b8));
    background-image       : -webkit-linear-gradient(top, #dce4ee, #6589b8);
    background-image       : -o-linear-gradient(top, #dce4ee, #6589b8);
    background-image       : linear-gradient(#dce4ee, #6589b8);
    border-color           : #6589b8 #6589b8 hsl(214, 37%, 47.5%);
    color                  : #333 !important;
    text-shadow            : 0 1px 1px rgba(255, 255, 255, 0.56);
    -webkit-font-smoothing : antialiased;
}

.btn-tabla {
    background-color       : #0047CC !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#dce4ee", endColorstr="#ECECEC");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#dce4ee), to(#ECECEC));
    background-image       : -moz-linear-gradient(top, #dce4ee, #ECECEC);
    background-image       : -ms-linear-gradient(top, #dce4ee, #ECECEC);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dce4ee), color-stop(100%, #ECECEC));
    background-image       : -webkit-linear-gradient(top, #dce4ee, #ECECEC);
    background-image       : -o-linear-gradient(top, #dce4ee, #ECECEC);
    background-image       : linear-gradient(#dce4ee, #ECECEC);
    /*border-color           : #ECECEC #ECECEC #ECECEC;*/
    color                  : #333 !important;
    text-shadow            : 0 1px 1px rgba(255, 255, 255, 0.56);
    -webkit-font-smoothing : antialiased;
}

.btn-docs {
    background-color       : hsl(41, 100%, 67%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffdf9", endColorstr="#fec956");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#fffdf9), to(#fec956));
    background-image       : -moz-linear-gradient(top, #fffdf9, #fec956);
    background-image       : -ms-linear-gradient(top, #fffdf9, #fec956);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffdf9), color-stop(100%, #fec956));
    background-image       : -webkit-linear-gradient(top, #fffdf9, #fec956);
    background-image       : -o-linear-gradient(top, #fffdf9, #fec956);
    background-image       : linear-gradient(#fffdf9, #fec956);
    border-color           : #fec956 #fec956 hsl(41, 100%, 59%);
    color                  : #333 !important;
    text-shadow            : 0 1px 1px rgba(255, 255, 255, 0.52);
    -webkit-font-smoothing : antialiased;
}

.btn-params {
    background-color       : hsl(23, 100%, 67%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffbf9", endColorstr="#fe9756");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#fffbf9), to(#fe9756));
    background-image       : -moz-linear-gradient(top, #fffbf9, #fe9756);
    background-image       : -ms-linear-gradient(top, #fffbf9, #fe9756);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffbf9), color-stop(100%, #fe9756));
    background-image       : -webkit-linear-gradient(top, #fffbf9, #fe9756);
    background-image       : -o-linear-gradient(top, #fffbf9, #fe9756);
    background-image       : linear-gradient(#fffbf9, #fe9756);
    border-color           : #fe9756 #fe9756 hsl(23, 100%, 59%);
    color                  : #333 !important;
    text-shadow            : 0 1px 1px rgba(255, 255, 255, 0.52);
    -webkit-font-smoothing : antialiased;
}

.btnDeleteReg {
    background-color       : hsl(214, 37%, 28%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361));
    background-image       : -moz-linear-gradient(top, #7a99c1, #2c4361);
    background-image       : -ms-linear-gradient(top, #7a99c1, #2c4361);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361));
    background-image       : -webkit-linear-gradient(top, #7a99c1, #2c4361);
    background-image       : -o-linear-gradient(top, #7a99c1, #2c4361);
    background-image       : linear-gradient(#7a99c1, #2c4361);
    border-color           : #2c4361 #2c4361 hsl(214, 37%, 19.5%);
    color                  : #fff !important;
    text-shadow            : 0 -1px 0 rgba(0, 0, 0, 0.56);
    -webkit-font-smoothing : antialiased;
}

.btn-pagar {
    background-color       : hsl(194, 45%, 61%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2cedb", endColorstr="#6eb3c8");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#a2cedb), to(#6eb3c8));
    background-image       : -moz-linear-gradient(top, #a2cedb, #6eb3c8);
    background-image       : -ms-linear-gradient(top, #a2cedb, #6eb3c8);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2cedb), color-stop(100%, #6eb3c8));
    background-image       : -webkit-linear-gradient(top, #a2cedb, #6eb3c8);
    background-image       : -o-linear-gradient(top, #a2cedb, #6eb3c8);
    background-image       : linear-gradient(#a2cedb, #6eb3c8);
    border-color           : #6eb3c8 #6eb3c8 hsl(194, 45%, 57.5%);
    color                  : #333 !important;
    text-shadow            : 0 1px 1px rgba(255, 255, 255, 0.23);
    -webkit-font-smoothing : antialiased;
}

.btn-devolver {
    background-color       : hsl(0, 38%, 76%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2e2e2", endColorstr="#d9aaaa");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#f2e2e2), to(#d9aaaa));
    background-image       : -moz-linear-gradient(top, #f2e2e2, #d9aaaa);
    background-image       : -ms-linear-gradient(top, #f2e2e2, #d9aaaa);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2e2e2), color-stop(100%, #d9aaaa));
    background-image       : -webkit-linear-gradient(top, #f2e2e2, #d9aaaa);
    background-image       : -o-linear-gradient(top, #f2e2e2, #d9aaaa);
    background-image       : linear-gradient(#f2e2e2, #d9aaaa);
    border-color           : #d9aaaa #d9aaaa hsl(0, 38%, 72%);
    color                  : #333 !important;
    text-shadow            : 0 1px 1px rgba(255, 255, 255, 0.26);
    -webkit-font-smoothing : antialiased;
}

.btn-info {
    /*background-color: #a2cedb;*/
    background-color : #89cffd;
    background-image : linear-gradient(to bottom, #89cffd, #296fad)
}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    /*background-color: #2f96b4;    */
    background-color : #1f4684;
}

.btn-subir {
    background-color       : hsl(0, 0%, 59%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2e2e2", endColorstr="#969696");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#e2e2e2), to(#969696));
    background-image       : -moz-linear-gradient(top, #e2e2e2, #969696);
    background-image       : -ms-linear-gradient(top, #e2e2e2, #969696);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #969696));
    background-image       : -webkit-linear-gradient(top, #e2e2e2, #969696);
    background-image       : -o-linear-gradient(top, #e2e2e2, #969696);
    background-image       : linear-gradient(#e2e2e2, #969696);
    border-color           : #969696 #969696 hsl(0, 0%, 51.5%);
    color                  : #333 !important;
    text-shadow            : 0 1px 1px rgba(255, 255, 255, 0.49);
    -webkit-font-smoothing : antialiased;
}

.btn-bajar {
    background-color       : hsl(0, 0%, 68%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9", endColorstr="#adadad");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#adadad));
    background-image       : -moz-linear-gradient(top, #f9f9f9, #adadad);
    background-image       : -ms-linear-gradient(top, #f9f9f9, #adadad);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #adadad));
    background-image       : -webkit-linear-gradient(top, #f9f9f9, #adadad);
    background-image       : -o-linear-gradient(top, #f9f9f9, #adadad);
    background-image       : linear-gradient(#f9f9f9, #adadad);
    border-color           : #adadad #adadad hsl(0, 0%, 60.5%);
    color                  : #333 !important;
    text-shadow            : 0 1px 1px rgba(255, 255, 255, 0.49);
    -webkit-font-smoothing : antialiased;
}
