.noprint {
    display : none;
}

.siImprime {
    display : block;
}

.soloPrint {
    display : block !important;
}

@media print {
    @page {
        size   : landscape;
        margin : 8%;
    }
}
