.btn-group {
    margin-bottom : 10px;
}

#tree, #info {
    float      : left;
    overflow-y : auto;
    height     : 720px;
    width      : 500px;
    background : #c0efc2;
    border     : solid 2px #1a7031;
}

#info {
    margin-left  : 15px;
    width        : 515px;
    height       : 690px;
    /*border-color : #DC6816;*/
    border-color : #444444;
    background   : #e0e8f0;   /*gdo*/
    padding      : 15px;
}